DATABASE_URL="mysql://root:@localhost:3306/shelby"
JWT_SECRET="cualquier_secreto_largo"
CORS_ORIGIN="http://localhost:8080,https://shelbyimportacionessas.com,https://www.shelbyimportacionessas.com"
PORT=3001
WOMPI_PUBLIC_KEY=""
WOMPI_PRIVATE_KEY=""
WOMPI_INTEGRITY_KEY=""
WOMPI_EVENTS_KEY=""
WOMPI_ENVIRONMENT="production"
MERCADOPAGO_ACCESS_TOKEN_CLIENT=""
MERCADOPAGO_ACCESS_TOKEN=""
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_SECURE="false"
SMTP_FROM=""
SMTP_FROM_NAME="Shelby Importaciones"